@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans&display=swap');
@import url('reset.css');
@import url('typography.css');
@import url('buttons.css');
@import url('forms.css');
@import url('navigation.css');
@import url('elements.css');


.wrapper {
    max-width: 70rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.site-header p, .site-footer p {
    padding: 0;
    margin: 0;
}

.site-header .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.site-header .site-title a {
    display: block;
    text-decoration: none;
    color: purple;
    font-size: 2.5rem;
}

.site-header .site-description {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.055em;
}

/* Section Headers */

.site>section header {
    text-align: center;
}

.site>section header::after {
    display: block;
    margin: 0 auto 2rem auto;
    width: 5rem;
    height: 0.15rem;
    content: '';
    background: #333;
}

/* Section -Call to action */



 .call-to-action .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.call-to-action .copy {
    flex: 1 0 100%;
    text-align: center;
}
 .call-to-action i.fas {
    display: none;
}




/* Section team */

/* section .team {} */

/* Section newsletter */

.newsletter {
    background: #660066;
    background-color: #660066;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23dba4db' fill-opacity='0.25'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");padding-bottom: 2rem;
    padding-top: 1rem;
    color: white;
}

 .newsletter .button {
    background: #FFF;
}

/* Section Footer */

.site-footer ul {
    margin: 0;
    padding: 0;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.site-footer li {
    list-style: none;
    display: block;
}
.site-footer .wrapper{
    padding-bottom: 2rem;
}

.site-footer .wrapper .about {
    flex: 0 0 30%;
}
@media only screen and (min-width: 800px) {
    .site-footer .wrapper {
        display: flex;
        justify-content: space-between;
    }
     .call-to-action .copy{
        text-align: left;
        margin-right: 2rem;
        flex: 0 0 35rem;
    }
     .call-to-action i.fas {
        display: block;
        font-size: 9rem;
    }
}

/* .site-footer .wrapper .sitemap {} */

/* .site-footer .wrapper .contacts {} */